*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(190, 134, 225);
}
button{
    font-size: 50px;
    padding: 25px 40px;
    background: rgb(227, 225, 225)smoke;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: rgb(9, 10, 10);
    cursor: pointer;
}